<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Detect Barcodes</title>
    <style type="text/css">
        .navbar-brand
        {
            font-size: xx-large;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid container-md">
            <a class="navbar-brand" href="">Express Till</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
<div class="row">
    <h2>Product Barcodes</h2>
    <p>
      To start shopping scan products 
    </p>
    <hr />
    <div class="col-md-6">
        {% if cam_status %}
        <h3>Camera stream status: connected</h3>
        <img src="{% url 'scanner:camera_feed' %}" style="width: 640px; height: 480px;" />
        {% else %}
        <h3>Camera stream status: Camera is either not accessible or busy</h3>
        <h5>Things to check:</h5>
        <ul class="text-right list-inline">
            <li>USB connection?</li>
            <li>Camera number in your .env file?</li>
            <li>Camera is already in use?</li>
        </ul>
        {% endif %}
    </div>
    <div class="col-md-6">
        <p>
          Point the barcode facing to the camera. After a valid barcode is found, an
          image is saved automatically to "media/images" folder.
        </p>
        <p>
          If the item has a correct barcode. Click on read to get the code and proceed to pay.
        </p>
        <div class="alert alert-warning" role="alert">
          Note: If file or data is not found, a message is displayed with an error message.
        </div>
        <form>
          <div class="form-group">
            <label id="lbl_BarcodeData" for="txt_BarcodeData">Product Data:</label>
            <textarea class="form-control" id="txt_BarcodeData" rows="3"></textarea>
            <label id="lbl_LastModified">Price is at:</label><br>
            <label id="lbl_Quantity">Quantity:</label>
          </div>
        </form>
        <br />
        <a id="btn_ReadQRCode" class="btn btn-primary" href="#">Click here to scan</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    $("#btn_ReadQRCode").on("click", function (e) {
        console.log("Ajax request triggered.");
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'scanner:camera_feed' %}",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                dataType: "json",
            },
            success: function (data) {
                if (data.barcode_data !== null && data.barcode_data !== '') {
                    console.log(data);
                    $("#txt_BarcodeData").html(data.barcode_data);
                    $("#lbl_LastModified").html(
                        "Price is at: " + data.file_saved_at
                    );
                    $("#lbl_Quantity").html(
                        "Quantity: " + data.quantity
                    );                   

                } else {
                    console.log(data);
                    $("#txt_BarcodeData").html("");
                    $("#lbl_LastModified").html("<h3><em>No data or file not found. Scan barcode again.</em></h3>");
                }
            },
            error: function () {
                console.log(error);
            }
        });
    });
</script>

</div>
</body>

</html>
